.headr {
    height: 900px;
    background-image: url("../image/karkas.png");
}

.headr-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 105px;

}
.headr-menu ul{
    display: flex;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    line-height: 30.48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    justify-content: space-between;
    width: 400px;

}
.glav{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 30.48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.headr-main{
    display: flex;


}
.text{
    padding-top: 189.4px;
    padding-bottom: 29px;
    padding-left: 130px;
    padding-right: 38px;
    
}
.dastavka{
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 800;
    line-height: 39.01px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    

}
.skidka{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-right: 113px;

}
.main{
    height: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu{
    
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 500;
    line-height: 54.86px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.row{
    display: flex;
    padding-top: 46px;
    padding-left: 87px;
    padding-right: 87px;
}
.burgerr{
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 500;
    line-height: 42.67px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
   
}
.burgers-div{
    margin-left: 38px;
  
}
.row2{
    padding-right: 87px;
    display: flex;
    padding-top: 46px;
    padding-left: 87px;
}
.headr-footer{
    background-image: url("../image/karkas2.jpg");
    height: 450px;

}
.footer{
    display: flex;
 
    
}
.text-footer{
    margin-left: 279px;
    margin-top: 156px;
    
}
.text-footer2{
    margin-left: 101px;
    margin-top: 156px;

}
.text-footer3{
    margin-left: 101px;
    margin-top: 156px;

}
.text-footer4{
    margin-left: 580px;
    margin-top: 45px;
    
    

}  
.text-footer5{
    margin-top: 24px;
    margin-left: 566px;
}
.photo-footer{
    margin-left: 608px;
    margin-top: 22px;


}
.photo-footer2{
    margin-top: 35px;
    margin-left: 6px;

}